.hero {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(
      to top right,
      rgba(121, 91, 243, 0),
      #ebe6ff
    ),
    url(../../assets/apollo_rocket.svg);
}

span .hi-icon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
