.hero {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(
      to top right,
      rgba(121, 91, 243, 0),
      #ebe6ff
    ),
    url(../../../assets/apollo_rocket.webp);
}

.hello-emoticon {
  position: relative;
  animation: move 2s infinite;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
