.footer-container {
  -webkit-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(
      to top right,
      rgba(156, 134, 246, 0),
      #d8eafd
    ),
    url(https://www.moonhighway.com/static/images/footer-bg.png);
}
